body{
  font-family: Arial;
  background: #f4f6f9;
  text-align: center;
}

.box{
  background: white;
  padding: 20px;
  width: 300px;
  margin: 100px auto;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
}

input, select{
  width: 90%;
  padding: 10px;
  margin: 10px;
}

button{
  padding: 10px 20px;
  background: #2c7be5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover{
  background: #1a5fd0;
}

table{
  margin: auto;
  border-collapse: collapse;
  width: 60%;
  background: white;
}

th, td{
  border: 1px solid #ddd;
  padding: 10px;
}

th{
  background: #2c7be5;
  color: white;
}

#att{
  display: none;
}

#profName{
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-weight: bold;
}
