body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #f4f6f9;
  text-align: center;
  margin: 0;
}

/* BOX */
.box{
  background: white;
  padding: 20px;
  width: 300px;
  margin: 100px auto;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* INPUTS */
input, select{
  width: 85%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input:focus, select:focus{
  border-color: #2c7be5;
}

.headbox{
  background-color:paleturquoise;
}
/* BUTTON */
button{
  padding: 10px 20px;
  background:#1a5fd0 ;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#div1{
  background-color:lightblue;
  color: black;
}

button:hover{
  background: #4b85d1;
}

/* TABLE */
table{
  margin: 30px auto;
  border-collapse: collapse;
  width: 65%;
  background: white;
  border: 1px solid #ccc;
}

th, td{
  border: 1px solid #ddd;
  padding: 10px;
  text-decoration: solid;
}

/* HEADER */
th{
  background: #2c7be5;
  color: white;
}

/* SIMPLE ROW COLOR */
tr:nth-child(even){
  background: #f9f9f9;
}

/* ATTENDANCE */
#att{
  display: none;
}

/* PROF NAME */
#profName{
  position: fixed;
  bottom: 10px;
  margin-left:2000px;
  right: 20px;
  font-weight: bold;
}
